.lifes{
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.score{
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}